<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniAnita - Compartilhar Residência</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <h1>UniAnita - Compartilhar Residência</h1>
        <nav>
            <ul>
                <li><a href="/" target="_self">Início</a></li>
        </nav>
    </header>

    <section>
        <h2>Compartilhe sua residência</h2>
        <form action="/compartilhar" method="POST" enctype="multipart/form-data">
        
            <label for="valor">Valor (R$):</label>
            <input type="text" id="valor" name="valor" required><br>
        
            <label for="bairro">Bairro:</label>
            <input type="text" id="bairro" name="bairro" required><br>
        
            <label for="endereco">Endereço:</label>
            <input type="text" id="endereco" name="endereco" required><br>

            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" name="cpf" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" placeholder="XXX.XXX.XXX-XX" required><br>
            
            <label for="telefone">Número de Contato:</label>
            <input type="tel" id="telefone" name="telefone" pattern="\(\d{2}\) \d{5}-\d{4}" placeholder="(XX) XXXXX-XXXX" required><br>

            <label for="imagem">Imagem da Residência:</label>
            <input type="file" id="imagem" name="imagem"><br><br>

        
            <button type="submit">Cadastrar</button>
        </form>
        
    </section>

    <footer>
        <p>&copy; 2025 - UniAnita | Aluguel de Imóveis</p>
    </footer>
</body>
</html>
