<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniAnita - Aluguel de Imóveis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <h1>Login</h1>
    <form action="/" method="POST">
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required><br>

        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required><br>

        <button type="submit">Entrar</button>
    </form>
    
    <p>Caso não tenha uma conta, <a href="cadastro">cadastre-se aqui</a>.</p>

    <footer>
        <p>&copy; 2025 - UniAnita | Aluguel de Imóveis</p>
    </footer>
</body>
</html>
