/* Estilo Geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Cabeçalho */
header {
    background-color: #007bff;
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.barra-pesquisa {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    font-size: 16px;
    border-radius: 25px; /* Borda arredondada */
    background-color: #f9f9f9; /* Cor de fundo */
    transition: border-color 0.3s ease-in-out;
    width: 300px;
    margin: 0 auto;
}

/* Listagem de Casas */
.h2 {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 25px; /* Borda arredondada */
    outline: none; /* Remove o contorno ao focar */
    background-color: #f9f9f9; /* Cor de fundo */
    transition: border-color 0.3s ease-in-out;
}

.listagem {
    text-align: center;
    padding: 20px;
}

.casa {
    display: inline-block;
    background: white;
    padding: 15px;
    margin: 10px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.casa img {
    width: 100%;
    border-radius: 10px;
}

.casa h2 {
    margin: 10px 0;
}

.casa p {
    font-size: 15px;
    color: #333;
    text-align: left;
}

.botao {
    display: inline-block;
    padding: 10px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Rodapé */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.cadastro {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 15px;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    font-size: 1rem;
    margin-bottom: 10px;
    display: block;
    color: #333;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px;
    font-size: 1rem;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.form-group {
    margin-bottom: 20px;
}
